# Files to ignore
community detection/.DS_Store
community detection/stanford-corenlp-full-2018-02-27.zip

# Folders to ignore
community detection/stanford-corenlp-full-2018-02-27/
community detection/ccpminutes/
community detection/.idea/
community detection/__MACOSX/
